<% if fermer.book_marked_by?(current_consumer) %>
    <%= link_to(consumers_fermer_book_marks_path(fermer, redirect_id: 0), method: :delete,remote: true, class: "fermer_#{fermer.id}") do %>
        <button type="button" class="btn btn-danger btn-lg btn-block">お気に入りを外す</button>
	<% end %>
<% else %>
    <%= link_to(consumers_fermer_book_marks_path(fermer, redirect_id: 0), method: :post,remote: true, class: "fermer_#{fermer.id}") do %>
        <button type="button" class="btn btn-warning btn-lg btn-block">お気に入りにする</button>
	<% end %>
<% end %>