
  <h2>
  	<%= @consumer.last_name %><%= @consumer.last_name %> 様
  </h2>


  <p>この度は、WAGURIにご登録いただきありがとうございました。<br>
  	ご登録が完了いたしました。<br>
  	 WAGURIをご利用頂きますと、安心、安全な食がご提供できますと確信しております。
  </p>
  <p>
  	今後ともWAGURIをよろしくお願いいたします。
  </p>
