<table>
	<tr>
		<th>農園名</th>
		<th>事業主</th>
		<th>ホームページ</th>
	</tr>
	<%if @fermers.present? %>
	<% @fermers.each do |fermer| %>
	<tr>
		<td><%= link_to fermer.garden, consumers_fermer_path(fermer) %></td>
		<td><%= fermer.name %></td>
		<td><%= fermer.home_page %></td>
	</tr>
	<% end %>
	<% end %>
</table>
