<table>
	<tr>
		<th>農園名</th>
		<th>事業主</th>
		<th>ホームページ</th>
		<th>記事</th>
	</tr>
	<%if @fermers.present? %>
	<% @fermers.each do |fermer| %>
	<tr>
		<td><%= link_to fermer.garden, consumers_fermer_path(fermer) %></td>
		<td><%= fermer.name %></td>
		<td><%= fermer.home_page %></td>
		<td><%= link_to "記事を見に行く",consumers_columns_path(fermer_id: fermer.id)%>
   </div></td>
	</tr>
	<% end %>
	<% end %>

</table>
