<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<%= link_to "管理者",new_admin_session_path %>
<%= link_to "購入者",new_consumer_session_path %>
<%= link_to "農家",new_fermer_session_path %>
