<!DOCTYPE html>
<html>
	<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h2>
			<%= @fermer.garden %> 様
		</h2>


		<p>
			<%= @fermer.garden %> 様の商品がご購入されたことを通知いたします。
			注文履歴からご確認して頂けますようお願いいたします。
		</p>
		<p>
			今後ともWAGURIをよろしくお願いいたします。
		</p>
	</body>
</html>
