<div class="container">
	<div class="row">
		<div class= "col-md-10">
			<div class="outer">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th class="col-xs-2">投稿日</th>
							<th class="col-xs-3">タイトル</th>
							<th class="col-xs-7">本文</th>
						</tr>
					</thead>
					<tbody>
						<%if @columns.present? %>
							<% @columns.each do |column| %>
							<tr>
								<td>
									<%= l column.created_at, format: :short %>
								</td>
								<td>
									<%= link_to(admins_column_path(column)) do %>
										<%= column.title %>
									<% end %>
								</td>
								<td><%= column.body %></td>
							</tr>
							<% end %>
						<% end %>
					</tbody>
			</table>
		</div>
		</div>
	</div>
</div>
