/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
.logo{
	background-image: url(logo.jpg);
}

table {
  width: 100%;
}

table td {
  /*word-break: break-all;*/
  overflow-wrap : break-word;
  white-space: normal;
}

table th {
    /*word-break: break-all;*/
  overflow-wrap : break-word;
  white-space: nowrap;
 }

 .main_image{
 	height: 300px;
 	background-size: cover;
	background-position: center;
 }
 .dropdown:hover>.dropdown-menu {
  display: block;
}
.logo {
	background-image: image-url("logo.jpg");
	background-size: cover;
	background-position: center;
	height: 50px;
	width: 50px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.skipper_image{
	width:1440px;
	height:300px;
	background-size: cover;
	background-position: center;
}
 .image1 {
	background-image: image-url("top1.jpg");
	background-size: cover;
	background-position: center;
}
.image2 {
	background-image: image-url("top2.jpg");
	background-size: cover;
	background-position: center;
}
.image3 {
	background-image: image-url("top3.jpg");
	background-size: cover;
	background-position: center;
}
.image4 {
	background-image: image-url("top4.jpg");
	background-size: cover;
	background-position: center;
}
.image5 {
	background-image: image-url("top5.jpg");
	background-size: cover;
	background-position: center;
}
.about_image{
	background-image: image-url("logo.jpg");
	background-size: cover;
	background-position: center;
	height: 200px;
}
.about_image2{
	background-image: image-url("girl.jpg");
	background-size: cover;
	background-position: center;
	height:350px;
}
